* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    background-color:#b5a789;
    font-family: 'Kanit', sans-serif;
    font-size: small;
    margin: 0px;
}
.header {
    background-color: orange;
    padding-top: 7px;
    border-style: dashed;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
.main {
    background-color: #e6e6e6;
    font-size: 115%;
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.footer {
    background-color: orange;
    border-style: dashed;
    border-width: 1px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding: 10px;
}
ul {
    padding-left: 15px;
    margin:0px
}
.nav-list {
background-color: gray;
width: 100%;    
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-link {
    padding-left:  20px;
    padding-right: 20px;
    line-height: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}